h1{
    font-size: x-large;
    font-weight: bold;
  }
  h2{
    font-size: larger;
    font-weight: bold;
  }
  h3{
    font-size: large;
    font-weight: bold;
  }


.main-div{
    padding: 1%;
    display: grid;
}
.selection{
    font-weight: bold;
}

